@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter), "sans-serif";
  --font-roboto: var(--font-roboto), "sans-serif";
  --font-poppins: var(--font-poppins), "sans-serif";
  --font-roboto-flex: var(--font-roboto-flex), "sans-serif";
  --font-urbanist: var(--font-urbanist), "sans-serif";
}
